[run]
branch = true
data_file = .coverage
source = ./rabbitChat

[paths]
source =
	./rabbitChat
	/project/rabbitChat

[report]
show_missing = true
skip_covered = false
precision = 2

[html]
title = Coverage HTML Report
directory = htmlcov